<!DOCTYPE html>
<html ng-app="ngPersons">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		
		<title>IUI + AngularJS</title>
		
		<link rel="stylesheet" href="file:///android_asset/www/lib/iui/iui.css" type="text/css" />
	    <link rel="stylesheet" href="file:///android_asset/www/lib/iui/t/default/default-theme.css" type="text/css"/>
	    <script type="application/x-javascript" src="file:///android_asset/www/lib/iui/iui.js"></script>
	    <script type="application/x-javascript" src="file:///android_asset/www/lib/angular.min.js"></script>
	    
	    <script type="application/x-javascript" src="file:///android_asset/www/iuiAndAngular.js"></script>
	</head>

	<body id="iuiBody" ng-controller="personsController" ng-init="init()">
		<div class="toolbar">
			<h1 id="pageTitle"></h1>
			<a id="backButton" class="button" href="#"></a>
		</div>
		
		<div id="screen1" selected="true" class="panel" title="iUI+AngularJS">
		   <a id="iuiGrayBtn" class="grayButton" ng-click="addPlayer()">Add player</a>
		   <a class="redButton" ng-click="disableButton()">Disable Button</a>
		   <br/>
		   <h2>Football PLayers</h2>
		   <ul>
		      <li ng-repeat="person in persons">
		      	<a href="#screen2">{{person.name}} {{person.age}}</a>
		      </li>
		   </ul>
	   </div>
	   
	   <div id="screen2" class="panel" title="iUI+AngularJS">
	   		<p class="normalText">Screen 2</p>
	   </div>

	</body>
</html>

